# 02-Lists and dictionaries

This notebook gives an introduction to two additional data types in Python: lists and dictionaries.

Although lists and dictionaries are technically data *types*, we can think of them as ways to store and structure data.

In [2]:
names = ["Leon","Tom","Steffen","Sander","Preben"]
names.append("Andreas")
names

['Leon', 'Tom', 'Steffen', 'Sander', 'Preben', 'Andreas']

## Lists

Lists in Python are very similar to our everyday concept of lists. In the real world, we read off, add, cross off items in lists, and we can do the same with lists in Python.

Lists are one of the most common ways to store data in Python, and we can use lists whenever we want to store a collection of items in a single variable.

Lists are denoted by a comma-separated sequence of items within square
brackets `[]`.

**Syntax**:
```
lst_name = [item1, item2, item3, ...]

```

Notice that it is convention in the Python community to never give the name `list` to a Python list.

In [3]:
fruits = ['banana', 'apple', 'cherry']

fruits

['banana', 'apple', 'cherry']

In [4]:
type(fruits)

list

In [5]:
len(fruits)

3

Notice that lists in Python can contain all types of data, e.g. strings, integers, floats, arithmetic operations, booleans etc.

In [6]:
mixed_lst = ['banana', 42.0, True, 10*2]

mixed_lst

['banana', 42.0, True, 20]

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Create a list called <code>movies</code> that containes your top three favorite movies. Display both the content of the list and the length of the list.

</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
movies = ['Forrest Gump', 'Pride and Prejudice', 'Serenity']

print(movies)
print(len(movies))
    
```

</p>
</details>

In [8]:
movies = ["Movie1","Movie2","Movie3"]
print(movies)
print(len(movies))

['Movie1', 'Movie2', 'Movie3']
3

`split` returns a list of all of the words in a string .

In [9]:
sentence = 'This is an intro class to Python'

In [10]:
sentence.split()

['This', 'is', 'an', 'intro', 'class', 'to', 'Python']

As a default, `split` splits the string on a space. However, we can specify the character that we want to split on.

In [23]:
date = '1.12.2013'

In [17]:
date.split('.')

['1', '12', '2013']

<div class="alert alert-info">
<h3> Your turn</h3>
<p> Replace the dots in <code>date</code> with dashes, and then split the string on dash.
</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
date.replace('.', '-').split('-')
    
```

</p>
</details>

In [24]:
date.replace(".","-").split("-")

['1', '12', '2013']

#### Indexing and slicing

We select items from a list the same way that we selected characters from a string

Again, remember that Python follows *zero-based indexing*.

In [25]:
mixed_lst

['banana', 42.0, True, 20]

In [26]:
mixed_lst[0]

'banana'

In [27]:
mixed_lst[3]

20

In [28]:
mixed_lst[2:]

[True, 20]

As before, negative numbers are interpreted as number of items from the end of the list.

In [29]:
mixed_lst[-2:]

[True, 20]

<div class="alert alert-info">
<h3> Your turn</h3>
<p>Extract the last item in your list <code>movies</code> in three different ways.

</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
print(movies[2])
print(movies[-1])
print(movies[2:])
    
```

</p>
</details>

In [33]:
movies[-1]
movies[2]
movies[2:]
movies[len(movies)-1]

'Movie3'

We can extract items from a list and store it a new variable.

In [34]:
date = '1.12.2013'

date.split('.')

['1', '12', '2013']

In [35]:
date.split('.')[0]

'1'

In [36]:
day = date.split('.')[0]

In [37]:
day

'1'

<div class="alert alert-info">
<h3> Your turn</h3>
<p> Split <code>date</code> on <code>.</code> and store the month and year in variables called <code>month</code> and <code>year</code>, respectively.

</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
month = date.split('.')[1]
year = date.split('.')[2]
    
```

</p>
</details>

In [39]:
date.split(".")
month = date.split(".")[1]
year = date.split(".")[2]


print(month)
print(year)

12
2013

#### Operations

Unlike strings, lists are *mutable*, meaning that we can make changes to a list without having to assign it to a new varible (or overwrite a previous variable).

We can add a new item to the end of the list using `append`.

In [40]:
fruits

['banana', 'apple', 'cherry']

In [41]:
fruits.append('pear')

In [42]:
fruits

['banana', 'apple', 'cherry', 'pear']

<div class="alert alert-info">
<h3> Your turn</h3>
<p> Add your fourth favorite movie to your list <code>movies</code> using <code>append</code>.

</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
movies = ['Forrest Gump', 'Pride and Prejudice', 'Serenity']

movies.append("The Hitchhiker's Guide to the Galaxy")

print(movies)
    
```

</p>
</details>

In [47]:
movies.append("Movie4")
movies.remove("Movie4")

print(movies)

['Movie1', 'Movie2', 'Movie3', 'Movie4']

If we instead want to combine several lists together we can use the `+` operator the same way as we did with strings.

In [56]:
fruits = ['banana', 'apple', 'cherry']

In [50]:
vegetables = ['potato', 'carrot', 'broccoli', 'onion']

In [51]:
fruits + vegetables

['banana', 'apple', 'cherry', 'potato', 'carrot', 'broccoli', 'onion']

In order to store the appended list we need to store it in a new variable (or overwrite a previous variable).

In [52]:
new_lst = fruits + vegetables

new_lst

['banana', 'apple', 'cherry', 'potato', 'carrot', 'broccoli', 'onion']

<div class="alert alert-info">
<h3> Your turn</h3>
<p> Add your favorite fruit to the list <code>fruits</code> using the <code>+</code> operator.

</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
fruits = ['banana', 'apple', 'cherry']

fruits = fruits + ['watermelon']

print(fruits)
    
```

</p>
</details>

In [57]:
fruits = fruits + ["Kiwi"]
fruits

['banana', 'apple', 'cherry', 'Kiwi']

When a list consists of only numbers, there are some special operations that we can perform on the list, such as `sum`, `min` and `max`.

In [59]:
num_lst = [1, 2, 3, 4, 5, 6, 7]

num_lst

[1, 2, 3, 4, 5, 6, 7]

In [60]:
sum(num_lst)

28

In [61]:
min(num_lst)

1

In [62]:
max(num_lst)

7

#### Nested list

A list can also contain other lists. This is known as a *nested* list.

In [63]:
foods = [fruits, vegetables]

foods

[['banana', 'apple', 'cherry', 'Kiwi'],
 ['potato', 'carrot', 'broccoli', 'onion']]

In [64]:
foods[0]

['banana', 'apple', 'cherry', 'Kiwi']

In [65]:
foods[1]

['potato', 'carrot', 'broccoli', 'onion']

In [66]:
foods[0][1]

'apple'

<div class="alert alert-info">
<h3> Your turn</h3>
<p> Ask the members of your group for their lists of favorite movies and place the lists in a nested list called <code>movies_group</code>. Display the last movie in the last list in <code>movies_group</code>.

</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
movies1 = ['movie1_student1', 'movie2_student1', 'movie3_student1', 'movie4_student1']
movies2 = ['movie1_student2', 'movie2_student2', 'movie3_student2', 'movie4_student2']
movies3 = ['movie1_student3', 'movie2_student3', 'movie3_student3', 'movie4_student3']

movies_nested = [movies1, movies2, movies3]

print(movies_nested[-1][-1])
    
```

</p>
</details>

In [67]:
movie1=["Movie1","Movie2","Movie3"]
movie2=["Movie1","Movie2","Movie3"]
movie3=["Movie1","Movie2","Movie3"]

nested_List = [movie1,movie2,movie3]
nested_List

[['Movie1', 'Movie2', 'Movie3'],
 ['Movie1', 'Movie2', 'Movie3'],
 ['Movie1', 'Movie2', 'Movie3']]

## Dictionaries

A dictionary is another data type used to store multiple items in a single variable. Dictionaries in Python are like dictionaries in the real-word: we look up words (keys) and read off the definition (value).

Ulike lists, each item in a dictionary is associated with a *key* instead of an index. We create dictionaries by placing a comma-seperated sequence of *key-value* pairs within curly brackets `{}`. Each key-value pair starts with the key, followed by a colon `:` and then the value associated with that key.

**Syntax**:
```
dict_name = {key1  : value1,
             key2  : value 2, 
             key 3 : value3, 
             ...}

```

Notice that it is convention to never give the name `dict` to a Python dictionary.

In [68]:
student = {'name'  : 'Anne',
           'sex'   : 'female',
           'age'   :  23,
           'score' :  82}

student

{'name': 'Anne', 'sex': 'female', 'age': 23, 'score': 82}

In [69]:
type(student)

dict

In [70]:
len(student)

4

Notice that we can write the dictionary in a single line. However, remember that it is convention in the Python community to use spaces in order to increase the readability of your code.

In [71]:
student = {'name':'Anne', 'sex':'female', 'age':23, 'score':82}

student

{'name': 'Anne', 'sex': 'female', 'age': 23, 'score': 82}

<div class="alert alert-info">
<h3> Your turn</h3>
<p> Create a dictionary called <code>member</code> with the keys <code>first name</code>, <code>last name</code>, and <code>year</code>. Use your first name, last name and year of birth as the values in the dictionary.
</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
member = {'first name'  : 'Isabel', 
          'last name'   : 'Hovdahl',
          'year'         : 1991}

print(member)
    
```

</p>
</details>

In [73]:
member = {"first_name" : "Leon",
          "last_name": "Flaaten",
          "year": "1999"}

member

{'first_name': 'Leon', 'last_name': 'Flaaten', 'year': '1999'}

Notice that unlike lists, dictionaries have no index, so we cannot select an item from a dictionary using the index.

In [74]:
# KeyError
student[0]

KeyError: 0

Instead, we can "look up" values in our dictionary by using the keys.

In [75]:
student['name']

'Anne'

In [76]:
student['score']

82

In [77]:
name = student['name']
score = student['score']

In [78]:
print(name + ' got ' + str(score) + ' points on the test.')

Anne got 82 points on the test.

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Print a sentence stating your first name and age by accessing the values associated with the keys <code>first name</code> and <code>age</code> in <code>member</code>.
</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
name = member['first name']
year = member['year']

print('My name is ' + name + ' and I was born in ' + str(year))
    
```

</p>
</details>

In [81]:
first_name = member["first_name"]
age = 2022 - int(member["year"])

print("My first name is "+first_name + " and my age is "+str(age))

My first name is Leon and my age is 23

Dictionaries are mutable, so we can update the value of an existing key or add a new key-value pair.

In [82]:
student

{'name': 'Anne', 'sex': 'female', 'age': 23, 'score': 82}

In [83]:
student['age'] = 21

student

{'name': 'Anne', 'sex': 'female', 'age': 21, 'score': 82}

In [85]:
student['university'] = 'NHH'

student

{'name': 'Anne', 'sex': 'female', 'age': 21, 'score': 82, 'university': 'NHH'}

<div class="alert alert-info">
<h3> Your turn</h3>
<p> Add the key <code>city</code> to your dictionary <code>member</code> and use the name of the city that you are from as the value.
</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
member['city'] = 'Mo i Rana'

print(member)
```

</p>
</details>

In [87]:
member["city"]="Stavanger"
member

{'first_name': 'Leon',
 'last_name': 'Flaaten',
 'year': '1999',
 'city': 'Stavanger'}

Notice that the keys and values in a dictionary can be of any Python data type, even lists.

In [88]:
grade_dict = {'Name'  : ['Ole', 'Jenny', 'Chang', 'Jonas'],
              'Score' : [65.0, 58.0, 79.0, 95.0],
              'Pass'  : ['yes', 'no', 'yes', 'yes']}

grade_dict

{'Name': ['Ole', 'Jenny', 'Chang', 'Jonas'],
 'Score': [65.0, 58.0, 79.0, 95.0],
 'Pass': ['yes', 'no', 'yes', 'yes']}

In [89]:
grade_dict.keys()

dict_keys(['Name', 'Score', 'Pass'])

In [91]:
grade_dict['Name']

['Ole', 'Jenny', 'Chang', 'Jonas']

In [92]:
type(grade_dict['Name'])

list

In [93]:
grade_dict['Name'][0]

'Ole'

<div class="alert alert-info">
<h3> Your turn</h3>
<p> Create a new dictionary called <code>students</code> with the keys <code>first name</code>, <code>last name</code>, and <code>year</code>. Use lists of the first names, last names and years of birth of the members of your group as the values in the dictionary.
</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
students = {'first name' : ['firstname1', 'firstname2', 'firstname3'],
            'last name'  : ['lastname1', 'lastname2', 'lastname3'],
            'year'        : ['year1', 'year2', 'year3']}

students
```

</p>
</details>

In [97]:
students = {"first_name":["Leon","Erik","Eirik"],
           "last_name": ["Flaaten","Guhnfeldt","Seppola"],
           "year": [1999,1998,1997]}

In [98]:
students

{'first_name': ['Leon', 'Erik', 'Eirik'],
 'last_name': ['Flaaten', 'Guhnfeldt', 'Seppola'],
 'year': [1999, 1998, 1997]}

## Mandatory exercise, part 2

Assume that we have recorded the average daily temperature in Norway's three largest cities each day last week. 

We observed the following temperatures:

City      | Mon | Tue | Wed | Thur| Fri | Sat | Sun 
:---      | --- | --- | --- | --- | --- | --- | ---   
Oslo      |0    |-4   | -3  | 0   | 3   | 5   | 4
Bergen    |4    | 3   | 4   | 3   | 3   | 7   | 8
Trondheim | 0   | -1  | -3  | -2  | -2  | -5  | -6

1. Store the temperatures in a nested list called `temps_lst`.


2. Use `temps_lst` and calculate the average temperature for Trondheim last week.


3. Use `temps_lst` and calculate the average temperature on Sunday last week.


4. Store the temperatures instead in a dictionary called `temps_dict`. Use `temp_dict` and again calculate the average temperature for Trondheim and the average temperature on Sunday last week. 


5. When it comes to programming, Google is your friend! See if you can find a Python function that takes a list of numbers and returns the average of those numbers.

In [8]:
temp_list = [[0,-4,-3,0,3,5,4],[4,3,4,3,3,7,8],[0,-1,-3,-2,-2,-5,-6]]

Trondheim = temp_list[2]

avg_T = sum(Trondheim)/len(temp_list[2])

avg_T

-2.7142857142857144

In [10]:
Sunday = temp_list[0][-1]+temp_list[1][-1]+temp_list[2][-1]
avg_S = (Sunday)/3

avg_S

2.0

In [11]:
temp_dict = {"Oslo": [0,-4,-3,0,3,5,4],
            "Bergen": [4,3,4,3,3,7,8],
            "Trondheim": [0,-1,-3,-2,-2,-5,-6]}

Trondheim2 = temp_dict["Trondheim"]
avg_T2 = sum(Trondheim2)/len(temp_dict["Trondheim"])
avg_T2

-2.7142857142857144

In [12]:
Sunday2 = temp_dict["Oslo"][-1]+temp_dict["Bergen"][-1]+temp_dict["Trondheim"][-1]

avg_S2 = Sunday2/3

avg_S2

2.0