# 04-Data wrangling

This notebook gives an introduction to the most common operations for transforming and cleaning data in `pandas`.

Data wrangling is the process of transforming data to a format that is suitable for answering an analytical question. This involves e.g. creating new variables, filtering rows, combining data sets etc.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

## Data transformation

In [ ]:
grade_dict = {'Name'  : ['Ole', 'Jenny', 'Chang', 'Jonas'],
              'Score' : [65.0, 58.0, 79.0, 95.0],
              'Pass'  : ['yes', 'no', 'yes', 'yes']}

In [ ]:
df = pd.DataFrame(grade_dict)

df

**Create new columns**

We have already seen how we can change an existing column in a `DataFrame`, e.g. use `astype` to change the `dtype` of a column.

In [ ]:
df['Score'] = df['Score'].astype(int)

df

We create a new column in an existing `DataFrame` by assigning a list of values to a new column name using the `=` operator.

In [ ]:
df['Age'] = [19, 18, 20, 22]

df

In [ ]:
df['City'] = ['Bergen', 'Oslo', 'Trondheim', 'Bergen']

df

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Import the file <code>temperatures.xlsx</code> that you created on Day 2, and store it as <code>temp_df</code> (remember to add the excel file to the <code>Data</code> folder).
        
Add a column that records the temperature in your home town (or any other city that you like) for the last seven days.

</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
# import file
temps_df = pd.read_excel('data/temperatures.xlsx')
    
# add column for home town
temp_df['mo i rana'] = [-7, -11, -12, -13, -6, 1, 2]
```

</p>
</details>

Notice that we can create a new column based on the values in an existing column.

In [ ]:
df['Score_share'] = df['Score'] / 100

df

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Import <code>mpg.xlsx</code> as <code>mpg_df</code>. The column <code>model_year</code> ranges from 1970 to 1984, but it contains only the last two digits of the year. Change the column so that it also contains the two first digits. E.g. '74' should be '1974'.

</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
    
# import df
mpg_df = pd.read_excel('data/mpg.xlsx')
    
# Alternative 1:
# convert to string and then add the string "19" to the beginning of each year

mpg_df['model_year'] = mpg_df['model_year'].astype('str')

mpg_df['model_year'] = '19' + mpg_df['model_year']
 
    
# Alternative 2
# keep as integer and simply add 1900 to each year

mpg_df['model_year'] = mpg_df['model_year'] + 1900

```

</p>
</details>

**Drop rows and columns**

We drop rows and columns by using the function `drop`. 

`drop` has two mandatory parameters: the row/column labels that we want to drop, and `axis` which tells the function to drop either rows or columns.


- `axis = 0` will drops rows

- `axis = 1` will drops columns

In [ ]:
df.drop(0, axis = 0)

In [ ]:
df.drop('Score_share', axis = 1)

We can store the modified `DataFrame` in a new variable.

In [ ]:
df1 = df.drop('Score_share', axis = 1)

In [ ]:
df1

We can drop several columns by passing a *list* of column names to the the `drop` function.

In [ ]:
df.drop(['Score_share', 'Pass'], axis = 1)

Notice that many functions in `pandas` has an optional parameter called `inplace`. 

Setting `inplace = True` will transform the original `DataFrame`, so that we do not have to store the transformed `DataFrame` in a new variable.

In [ ]:
df.drop(['Score_share', 'Pass'], axis = 1, inplace = True)

In [ ]:
df

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Drop the columns <code>oslo</code> and <code>trondheim</code> from <code>temp_df</code>.
</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
temp_df.drop(['oslo', 'trondheim'], axis = 1, inplace = True)
```

</p>
</details>

Sometimes we want to drop rows/columns with missing data from our `DataFrame`.

In [ ]:
titanic = pd.read_csv('data/titanic.csv')

titanic.isna().sum()

`dropna` drops rows/columns with missing observations from a `DataFrame`. The specify the `axis` parameter in order to determine whether we want to drop rows or columns:
- `axis = 0` will drop all rows with `Nan`
- `axis = 1` will drop all columns with `NaN`

In [ ]:
drop_nan_rows = titanic.dropna(axis = 0)

drop_nan_rows

In [ ]:
drop_nan_cols = titanic.dropna(axis = 1)

drop_nan_cols

Notice that `dropna` also has the parameter `inplace`. Setting `inplace = True` will drop the rows/columns with missing observations from the original `DataFrame`.

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Drop the rows with missing observations in <code>mpg_df</code>. How many rows are left in <code>mpg_df</code>?
</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
# drop rows with missing from original dataframe
mpg_df.dropna(axis = 0, inplace = True)

# number of observations left
print(len(mpg_df))
```

</p>
</details>

**Change index**

We can change the index in a `DataFrame`. However, remember that the index must be unique to every observation!

In [ ]:
titanic.head()

In [ ]:
titanic['PassengerId'].nunique()

We change the index of a `DataFrame` by assigning a sequence (e.g. a column) with new index values to the `index` attribute of the `DataFrame`.

In [ ]:
titanic.index = titanic['PassengerId']

titanic.head()

In [ ]:
titanic.drop('PassengerId', axis = 1, inplace = True)

titanic.head()

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Change the index in <code>temp_df</code> to the day of week, i.e. 'mon', 'tue', 'wed',..., 'sun'. 
</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
# Alternative 1:
# assign list of new index values to index
    
temp_df.index = ['mon', 'tue', 'wed', 'thur', 'fri', 'sat', 'sun']
    
    
# Alternative 2:
# add new column with the day of week and then set index equal to new column

temp_df['day'] = ['mon', 'tue', 'wed', 'thur', 'fri', 'sat', 'sun']
    
temp_df.index = temp_df['day']

```

</p>
</details>

We can reset the index by using the `reset_index` function. We set the parameter `inplace` equal to `True` in order to reset the index in the original `DataFrame`.

In [ ]:
titanic.reset_index(inplace = True)

titanic.head()

Notice that `reset_index` is returning the old index as a column to the `DataFrame`. We can avoid this by setting `drop = True`.

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Reset the index in <code>temp_df</code>.
        
</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
# notice that if the dataframe already contains a column identical to the index, i.e. alternative 2 in previous exercise, 
# then you must set 'drop = True' in order to avoid duplication of columns
# try with both 'drop = False' and 'drop = True' and see what happens!
    
temp_df.reset_index(inplace = True, drop = True)


```

</p>
</details>

## Filtering rows

We can select a subset of the rows and columns in a `DataFrame` based on one or several conditions using *relational operators*.

In [ ]:
df['Score'] > 80

We can store the `Series` of boolean values in a variable.

In [ ]:
above_80 = df['Score'] > 80

above_80

We can use this `Series` of boolean values to filter the `DataFrame` by placing the `Series` inside the index operator `[]`. 

This will select only the rows for which the value is `True`.

In [ ]:
df[above_80]

Notice that we can place the condition that we want to filter on directly inside the index operator `[]`.

In [ ]:
df[df['Score'] > 80]

Remember that the relational operators are `<`, `>`, `<=`, `>=`, `==`, and `!=`.

In [ ]:
df[df['City'] != 'Trondheim']

As before, we can save the **subset** of the original `DataFrame` in a new variable. 

However, remember that we must append `copy` at the end of the subset in order to create a new `DataFrame`.

In [ ]:
df_above_80 = df[df['Score'] > 80].copy()

In [ ]:
df_above_80

Let us filter the rows in `titanic` on the sex of the passengers.

In [ ]:
males = titanic[titanic['Sex'] == 'male'].copy()

males.head()

In [ ]:
females = titanic[titanic['Sex'] == 'female'].copy()

females.head()

In [ ]:
len(males)

In [ ]:
len(females)

We can double check our numbers using `value_counts`.

In [ ]:
titanic['Sex'].value_counts()

Notice that we can also filter a `DataFrame` on multiple conditions.

In [ ]:
cond1 = df['Score'] > 80
cond2 = df['City'] != 'Trondheim'

However, each condition must be surrounded by parentheses `()`, and we have to use the operator `|` for 'or' and the operator `&` for 'and'.

In [ ]:
df[(cond1) & (cond2)]

In [ ]:
df[(cond1) | (cond2)]

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Display the passengers in <code>titanic</code> that were male AND older than 70 years.
        
</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
titanic[(titanic['Sex'] == 'male') & (titanic['Age'] > 70)]
```

</p>
</details>

**Plotting**

Let us create a histogram of the age of the female passengers seperately for those that survived and those that did not.

We must first filter the `titanic` data on the sex of the passenger and on whether the passenger survived or not.

In [ ]:
# females that survived
females_1 = titanic[(titanic['Sex'] == 'female') & (titanic['Survived'] == 1)].copy()

# females that did not survive
females_0 = titanic[(titanic['Sex'] == 'female') & (titanic['Survived'] == 0)].copy()

We can then use `hist` from `matplotlib` to show a histogram of the age.

**Side note**: Let us change the style of our plots!

In [ ]:
# see all styles available
plt.style.available

In [ ]:
# set style for the rest of the program
plt.style.use('ggplot')

In [ ]:
fig, ax = plt.subplots()

ax.hist(females_1['Age'],
        bins = 30, 
        alpha = 0.5,
        label = 'Survived')

ax.hist(females_0['Age'],
        bins = 30, 
        alpha = 0.5,
        label = 'Not survived')

ax.set_title('Female passengers')

ax.legend()

plt.show()

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Create a figure with two subplots:
        
- In the first subplot, show a histogram of the age of female passengers seperately for those that survived and for those that did not.
        
        
- In the second subplot, show a histogram of the age of the male passengers seperately for those that survived and for those that did not.
               
</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
# new dfs with males that survived and males that did not survive (remember to use copy command!)
males_1 = titanic[(titanic['Sex'] == 'male') & (titanic['Survived'] == 1)].copy()
males_0 = titanic[(titanic['Sex'] == 'male') & (titanic['Survived'] == 0)].copy()

fig, ax = plt.subplots(nrows = 1, 
                       ncols = 2, 
                       figsize = (10, 3), 
                       sharey = True) # set same y-range in both subplots

# subplot 1 (females):
    
ax[0].hist(females_1['Age'],
           bins = 30, 
           alpha = 0.5,
           label = 'Survived')
    
ax[0].hist(females_0['Age'],
           bins = 30, 
           alpha = 0.5,
           label = 'Not survived')

# subplot 2 (males):
    
ax[1].hist(males_1['Age'],
           bins = 30, 
           alpha = 0.5,
           label = 'Survived')
    
ax[1].hist(males_0['Age'],
           bins = 30, 
           alpha = 0.5,
           label = 'Not survived')

# set titles and add legends
ax[0].set_title('Female passengers')
ax[1].set_title('Male passengers')
ax[0].legend()
ax[1].legend()

plt.show()
    
```

</p>
</details>

## Groupby

The `groupby` function groups together rows based on the columns and returns an object
that contains information about the groups.

This is very helpful in data analysis as it helps us summarize information about different groups in our data.

In [ ]:
df['Pass'] = ['yes', 'no', 'yes', 'yes']

df

`groupby` returns an object that we can perform operations on.

In [ ]:
pass_group = df.groupby('Pass')

In [ ]:
pass_group

We can retrive summary statistics for the groups using e.g. `mean`, `sum`, `count`, `max`.

In [ ]:
pass_group.mean()

In [ ]:
pass_group['Score'].mean()

We can use `value_counts` to count the number of passengers in our Titanic data that survived.

In [ ]:
titanic['Survived'].value_counts()

But what if we want to know the number of passengers that survived in 1st, 2nd and 3rd class?

Then we first have to group the data together on the column `Pclass`.

In [ ]:
titanic.groupby('Pclass')['Survived'].value_counts()

We can use `mean` to calculate the average age of passengers traveling 1st, 2nd and 3rd class.

In [ ]:
titanic.groupby('Pclass')['Age'].mean()

But what if we want to know the average age for men and women traveling 1st, 2nd and 3rd class?

We can group the data by *multiple* columns by passing a list of column names to `groupby`.

In [ ]:
titanic.groupby(['Pclass', 'Sex'])['Age'].mean()

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> What was the most expensive ticket, i.e. highest fare, in 1st, 2nd and 3rd class?
        
</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
titanic.groupby('Pclass')['Fare'].max()   
```

</p>
</details>

**Plotting**

Let us plot the share of survivors by 1st, 2nd and 3rd class.

We must first calculate the share of survivors in each class.

In [ ]:
pclass = titanic.groupby('Pclass')['Survived'].mean()

pclass

We can then update the index of the `Series`.

In [ ]:
pclass.index = ['1st class', '2nd class', '3rd class']

pclass

We can then use `bar` from `matplotlib` to show the share of survivors by `pclass` in a bar plot.

In [ ]:
fig, ax = plt.subplots()

ax.bar(pclass.index,
       pclass)

ax.set_ylabel('Share of survivors')

plt.show()

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Use <code>mpg_df</code> and create a bar plot of average <code>mpg</code> by the <code>origin</code> of the car. 
        
</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
# df with average mpg by origin (do not need to use copy because we are not subsetting an existing df)
origin = mpg_df.groupby('origin')['mpg'].mean()
    
fig, ax = plt.subplots()

ax.bar(origin.index,
       origin)

ax.set_ylabel('Average mpg')

plt.show() 
```

</p>
</details>

### Combining data

`pandas` offers several different ways of combining `DataFrame`s. The two most useful functions for combining data are `concat` and `merge`.

**Concat**

We can use `concat` to stack `DataFrame`s that share the same columns, but have different observations.

In [ ]:
df # original df with grades

In [ ]:
# create dict
grade_dict2 = {'Name'  : ['Nico', 'Maria', 'Mario', 'Janne'],
               'Score' : [67, 48, 92, 71], 
               'Age'   : [18, 24, 21, 20], 
               'City'  : ['Bergen', 'Oslo', 'Oslo', 'Trondheim'],
               'Pass'  : ['yes', 'no', 'yes', 'yes']}

# convert dict to df
df2 = pd.DataFrame(grade_dict2)

df2 # new df with additional grades

As a default, `concat` stacks a list of `DataFrame`s on top of each other.

In [ ]:
pd.concat([df, df2])

But what if the `DataFrame`s do not have the exact same columns?

Let us drop `Pass` from `df2`.

In [ ]:
df2.drop('Pass', axis = 1, inplace = True)

df2

We can still `concat` the `DataFrame`s. `concat` will simply fill the cells with missing data with `NaN`.

In [ ]:
# store in new variable
df3 = pd.concat([df, df2]) 

df3

However, notice that the index is now no longer unique to each observation (row). 

This can be fixed using the `reset_index` function. `inplace = True` will reset the index in the original `DataFrame`, while `drop = True` will avoid that the old index is added as a new column.

In [ ]:
df3.reset_index(inplace = True, drop = True)

df3

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Use <code>concat</code> to combine the observations in <code>females</code> and <code>males</code> that we created earlier back together. Check that you have 891 observations in the new <code>DataFrame</code>. 
 
</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
titanic_concat = pd.concat([females, males], axis = 0)

print(len(titanic_concat))
```

</p>
</details>

**Merge**

We can use `merge` to combine `DataFrame`s that share the same observations, but have different columns.

In [ ]:
df1 = pd.DataFrame({'Name': ['Ole', 'Jenny', 'Chang', 'Jonas', 'Mario'],
                    'Score1' : [65.0, 58.0, 79.0, 95.0, 92.0]})

df1

In [ ]:
df2 = pd.DataFrame({'Name': ['Ole', 'Chang', 'Jonas', 'Mario', 'Nico', 'Maria'],
                    'Score2' : [70.0, 77.0, 92.0, 92.0, 72.0, 68.0]})

df2

The two `DataFrame`s share the column `Name`, and we can merge the data on `Name` using `merge`.

We must specify that we want to merge on `Name`.

In [ ]:
df1.merge(df2, on = 'Name')

By default, `merge` will combine only those observations found in both `DataFrame`s, i.e. an inner join.

If we want to keep all of the observations in the left `DataFrame`, we must set `how = 'left'`.

In [ ]:
df1.merge(df2, on = 'Name', how = 'left')

Or if we want to keep all of the observations in the right `DataFrame`, we must set `how = 'right'`.

In [ ]:
df1.merge(df2, on = 'Name', how = 'right')

Or if we want to keep all observations in both `DataFrame`s, we must set `how = 'outer'`.

In [ ]:
df1.merge(df2, on = 'Name', how = 'outer')

Notice that when the `DataFrame`s have more than one common variable, we must merge on all of the common variables.

In [ ]:
df1 = pd.DataFrame({'Name'       : ['Ole', 'Jenny', 'Chang', 'Jonas', 'Mario'],
                    'Student_no' : ['s1001', 's1002', 's1003', 's1004', 's1005'],
                    'Score1'     : [65.0, 58.0, 79.0, 95.0, 92.0]})

df1

In [ ]:
df2 = pd.DataFrame({'Name'       : ['Ole', 'Chang', 'Jonas', 'Mario', 'Nico', 'Maria'],
                    'Student_no' : ['s1001', 's1003', 's1004', 's1005', 's1006', 's1007'],
                    'Score2'     : [70.0, 77.0, 92.0, 92.0, 72.0, 68.0]})

df2

In [ ]:
df1.merge(df2, on = 'Name', how = 'outer')

We can merge on multiple variables by passing a list of variables to `on` in `merge`.

In [ ]:
df_merge = df1.merge(df2, on = ['Name', 'Student_no'], how = 'outer')

In [ ]:
df_merge

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> The file <code>titanic_fam.csv</code> contains additional information for each passenger in our <code>titanic</code> data:
        
- SibSp: number of siblings and spouse on board
- Parch: number of parents and children on board
        
Import the file, and merge it with <code>titanic</code>.
        
</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
# import additional data
titanic_fam = pd.read_csv('data/titanic_fam.csv')

# merge with original data (and overwrite the old variable name)
titanic = titanic.merge(titanic_fam, on = ['PassengerId', 'Name'])
```

</p>
</details>

## Reshape

Usually in data analysis we want tidy data:
1. Each column is a variable
2. Each row is an observation

This is also known as *long* data. 

<img src="images/tidy.png" width = "60%" align="left"/>

Let us create a `DataFrame` that contains (made-up) closing prices for Google and Apple during a week. 

Since there are two columns constaining the closing price, this is not *long* data. Instead it is *wide*.

In [ ]:
data = {'Day'    : ['MON', 'TUE', 'WED', 'THU', 'FRI'], 
        'Google' : [1129, 1132, 1134, 1152, 1152], 
        'Apple'  : [191, 192, 190, 190, 188]}

wide_df = pd.DataFrame(data)

wide_df

`melt` reshapes a `DataFrame` from wide to long. In order to use `melt`, we must pass a column label to the `id_vars` parameter. This is the column that we want to leave "untouched".

In [ ]:
wide_df.melt(id_vars = 'Day')

In addition, we can pass arguments to the `var_name` and `value_name` parameters in order to specify the new column names.

In [ ]:
long_df = wide_df.melt(id_vars = 'Day', var_name = 'Company', value_name = 'Closing Price')

long_df

<div class="alert alert-info">
<h3> Your turn</h3>
    <p> Reshaping data from long to wide is known as pivoting. To pivot a <code>DataFrame</code>, <code>pandas</code> has a function called <code>pivot</code>.
        
See if you can find out how to pivot <code>long_df</code> back to <code>wide_df</code>.
        
</div>

**Solution**

<details>
    
<summary> Click to expand!</summary>
<p> 

```c#
# pivot from long to wide
wide_df = long_df.pivot(index = 'Day', columns = 'Company', values = 'Closing Price').reset_index()

# remove index name (not necessary, just to make it look nicer)
wide_df.rename_axis(None, axis = 1, inplace = True)

```

</p>
</details>

## Mandatory exercise part 1

In this exercise you are asked to work with two different datasets:
- `closing_prices.csv` contains the daily closing price in 2020 for ten different stocks.
- `EXR.xlsx` contains that daily exchange rate from USD to NOK in 2020 retrieved from Norges Bank.

You are asked to:

1. Import and clean the files
2. Merge the files and convert the closing price from USD to NOK
3. Create and save a graph that shows the daily closing price in NOK for Apple